@charset "UTF-8";

.bootstrap-select.open > .dropdown-menu{
	/*display: block;*/
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}
.bootstrap-select > .dropdown-menu{
	/*display: none;*/
	opacity: 0;
	max-height: 330px !important;
	visibility: hidden;
	overflow: hidden;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.85) translateY(-5px);
	-ms-transform: scale(0.85) translateY(-5px);
	transform: scale(0.85) translateY(-5px);
	-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
}

body{
	background: #D1DCE4;
	font-family: 'Roboto', sans-serif;
}
.box{
	width: 400px;
	height: 120px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
h2{
	text-align: center;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}
.bootstrap-select>.dropdown-toggle{
	background: #EDF2F5;
	border: 0;
	width: 100%;
	display: block;
	padding: 16px 15px;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.030em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
	color: #000;
}
.dropdown-toggle::after {
	content: "";
	position: absolute;
	border-top: .5em solid;
	border-right: .5em solid transparent;
	border-bottom: 0;
	border-left: .5em solid transparent;
	right: 10px;
	top: 48%;
}
.dropdown-menu{
	box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
	-moz-box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
	position: absolute;
	left: 0;
	background: #fff;
	min-width: 100% !important;
	width: 100% !important;
}
.bootstrap-select .dropdown-menu a{
	display: block;
	padding: 8px 15px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.030em;
}